<ion-view view-title="个人中心" class="me">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-android-cart" ui-sref="tabs.cart"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="head-box">
            <div class="user-avatar">
                <img src="images/05.jpg_170x170.jpg">
            </div>
            <p class="user-name">若雪青柠</p>
            <a href="javascript:;" class="address-link">
                <p class="user-address">我的收货地址&gt;</p>
            </a>
        </div>
        <div class="content-box">
            <div class="order-info">
                <a href="javascript:;" class="order-header">
                    <div class="item-text">
                        <p class="order-icon">
                            <img src="images/me1_56x56.png">
                        </p>
                        <p class="order-title">我的订单</p>
                    </div>
                </a>
                <div class="order-tips">
                    <a href="javascript:;" class="tips-text">
                        <div class="tips-icon"><img src="images/me2_38x33.png"></div>
                        <p class="tips-name">待付款</p>
                    </a>
                    <a href="javascript:;" class="tips-text">
                        <div class="tips-icon"><img src="images/me3_38x36.png"></div>
                        <p class="tips-name">待收货</p>
                    </a>
                    <a href="javascript:;" class="tips-text">
                        <div class="tips-icon"><img src="images/me4_38x36.png"></div>
                        <p class="tips-name">待评价</p>
                    </a>
                    <a href="javascript:;" class="tips-text">
                        <div class="tips-icon"><img src="images/me5_38x35.png"></div>
                        <p class="tips-name">售后</p>
                    </a>
                </div>
            </div>
            <div class="collection-tips">
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me6_56x56.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">我的优惠券</p>
                        </div>
                    </div>

                </a>
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me7_56x56.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">我收藏的商品</p>
                        </div>
                    </div>

                </a>
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me8_56x56.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">我收藏的店铺</p>
                        </div>
                    </div>

                </a>
            </div>

            <div class="collection-tips">
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me9_56x56.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">消息通知</p>
                        </div>
                    </div>

                </a>
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me10_84x84.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">客服</p>
                        </div>
                    </div>

                </a>
                <a class="collection-header">
                    <div class="item-text clearfix">
                        <p class="item-icon">
                            <img src="images/me11_56x56.png">
                        </p>
                        <div class="item-main">
                            <p class="item-title">意见反馈</p>
                        </div>
                    </div>

                </a>
            </div>
            <div class="out-content">
                <a class="logout" href="javascript:;">退出登录</a>
            </div>
        </div>
    </ion-content>
</ion-view>