<ion-tabs class="tabs-icon-top bar-light" >
    <ion-tab title="首页" icon-on="icon ion-ios-home" icon-off="icon ion-ios-home-outline"
             ui-sref="tabs.home" >
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="分类" icon-on="icon ion-ios-keypad" icon-off="icon ion-ios-keypad-outline"
             ui-sref="tabs.category">
        <ion-nav-view name="category-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="购物车" icon-on="icon ion-ios-cart" icon-off="icon ion-ios-cart-outline"
             ui-sref="tabs.cart">
        <ion-nav-view name="cart-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我" icon-on="icon ion-happy" icon-off="icon ion-happy-outline"
             ui-sref="tabs.me">
        <ion-nav-view name="me-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>