<ion-view view-title="Category">
    <ion-nav-title class="search_home">
        <a href="#" class="home_btn"></a>
        <a href="#" class="right-btn">
            <img src="images/chart.png">
        </a>
        <div class="item-input-inset searchInput">
            <div class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="请输入搜索关键字">
            </div>
        </div>
    </ion-nav-title>

    <ion-content class="padding">
        <div class="category">
            <div class="row">
                <a href="javascript:;" class="col">
                    <img src="images/cate1_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate2_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate3_250x250.png">
                </a>
            </div>
            <div class="row">
                <a href="javascript:;" class="col">
                    <img src="images/cate4_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate5_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate6_250x250.png">
                </a>
            </div>
            <div class="row">
                <a href="javascript:;" class="col">
                    <img src="images/cate7_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate8_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate9_250x250.png">
                </a>
            </div>
            <div class="row">
                <a href="javascript:;" class="col">
                    <img src="images/cate10_250x250.jpg">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate11_250x250.png">
                </a>
                <a href="javascript:;" class="col">
                    <img src="images/cate12_250x250.png">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>