<ion-view title="欢迎来到美丽说购物天堂" id="tour-view">
    <ion-content>
    <ion-slide-box on-slide-changed="onSlideChanged()">
        <ion-slide>
            <img src="images/t1.png" class="img_tour">
        </ion-slide>
        <ion-slide>
            <img src="images/t2.png" class="img_tour">
        </ion-slide>
        <ion-slide>
            <img src="images/t3.png" class="img_tour">
        </ion-slide>
        <ion-slide>
            <img src="images/t4.png" class="img_tour">
            <a class="button button-clear btn_enter"
               href="#tabs/home">点击进入</a>
        </ion-slide>
    </ion-slide-box>
    </ion-content>
</ion-view>